<header>
  <h1>Message Board</h1>
  <nav>
    <ul class="nav-list">
      <li><a href="/" class="block block-highlight">Home</a></li>
      <li><a href="/add-message" class="block block-highlight">Add Message</a></li>
    </ul>
  </nav>
</header>
