<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="container content">
      <%- include("./partials/header.ejs") %>
      <main>
        <form action="/add-message" method="post" class="block">
          <div>
            <label for="text">Text</label>
            <input type="text" id="text" name="text" />
          </div>
          <div>
            <label for="user">User</label>
            <input type="text" id="user" name="user" />
          </div>
          <div class="buttons"><button class="submit-button block block-highlight" type="submit">Add</button></div>
        </form>
      </main>
      <%- include('./partials/footer.ejs') %>
    </div>
  </body>
</html>
