<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="container content">
      <%- include("./partials/header.ejs") %>
      <main><p>No such Page.</p></main>
      <%- include('./partials/footer.ejs') %>
    </div>
  </body>
</html>
