<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Message Board | <%= title %></title>
  </head>
  <body>
    <div class="container content">
      <header>
        <h1>Message Board</h1>
        <nav>
          <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/add-message">Add Message</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <% messages.forEach(message => { %>
        <div class="message">
          <h2><%= message.text %></h2>
          <p><%= message.user %></p>
          <p><%= message.added %></p>
        </div>
        <% }) %>
      </main>
      <footer><p>Copyright &copy;</p></footer>
    </div>
  </body>
</html>
