/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* My CSS */

:root {
  --bg-dark: oklch(0.1 0 340);
  --bg: oklch(0.15 0 340);
  --bg-light: oklch(0.2 0 340);
  --text: oklch(0.96 0 340);
  --text-muted: oklch(0.76 0 340);
  --highlight: oklch(0.5 0 340);
  --border: oklch(0.4 0 340);
  --border-muted: oklch(0.3 0 340);
  --primary: oklch(0.76 0.1 340);
  --secondary: oklch(0.76 0.1 160);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
}

body {
  background-color: var(--bg-dark);
}

.container {
  margin: 0 auto;
  width: min(900px, 80%);
}

.content {
  padding: 1em 0;
  display: grid;
  gap: 3em;
}

.content h1,
.content h2,
.block h1,
.block h2 {
  color: var(--text);
}

.content p,
.block p,
.block label {
  color: var(--text-muted);
}

header > h1 {
  margin-bottom: 0.5em;
  text-align: center;
}

.nav-list {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.nav-list > li {
  list-style-type: none;
}

li > a {
  appearance: none;
  text-decoration: none;
  color: var(--text-muted);
}

li > a.block {
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

li > a:hover {
  color: var(--text);
}

main {
  display: grid;
  gap: 1em;
}

.block {
  background-color: var(--bg);
  padding: 1em;
  border-radius: 1rem;
  border: 1px solid var(--border);
}

.block-highlight:hover {
  background-color: var(--bg-light);
  border-color: var(--highlight);
  cursor: pointer;
}

footer {
  text-align: center;
}

form {
  display: grid;
  gap: 1em;
}

form > div {
  display: grid;
  gap: 0.25em;
}

form input {
  appearance: none;
  border-radius: 0.25em;
  background-color: var(--highlight);
  border: none;
}

form input:focus {
  outline: 2px solid var(--border);
}

.submit-button {
  color: var(--text-muted);
  padding: 0.25em;
  border-radius: 0.5em;
  background-color: var(--bg-light);
}

.submit-button:hover {
  color: var(--text);
}

@media (min-width: 37.5em) {
  header {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: space-between;
  }

  header > h1 {
    margin-bottom: 0;
  }

  form > div:not(.buttons) {
    grid-template-columns: 1fr 2fr;
  }
}
